@media screen and(min-width:780px) {
    h1{
        color: $secondary_color;
    }
    .formation__container {
        display:flex;
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}
