a {
    color: $primary_color;
    &:hover {color: navy;}
    &:active {color:green}
}
header {
    img {
        filter: grayscale(100);
    }
}
figure {
    margin:0;
}
ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        justify-content: space-around;
        gap: 1em;
        li {
            background-color: $primary_color;
            padding: 15px 10px;
            font-family: Roboto-regular;
            &:hover {
                background-color: white;
                color: $primary_color;
                a {
                    color: $primary_color;
                }
            }  
            a {
                text-decoration: none;
                color: white;               
            } 
        }
    }
}

h1,h2 {
    font-family: playfair-bold;
}
h1 {
    text-align: center;
    color: $primary_color;
    font-size: 5vw;
}
h2 {
    color: $secondary_color;

}
/*Section A propos*/
.container{
    display: flex;
    justify-content: space-around;

}
section:nth-of-type(odd) {
    background-color: rgba($color: goldenrod, $alpha: 0.4);
    h2 {
        text-transform: uppercase;
        padding:0.2em;
        padding-left: 1em;
    }
}
section:nth-of-type(even) {
    background-color: rgba($color: goldenrod, $alpha: 0.6);
    h2 {
        text-align: right;
        text-transform: uppercase;
        padding:0.2em;
        padding-right: 1em;
    }
}

.apropos__description {
    line-height: 2em;
    li {
        &:nth-child(1) {
            font-size: 1.3em;
        }
        &:nth-child(2) {
            position: relative;
            &::before {
                font-family: "Material Icons";
                content:"\e0be";
                font-size: 1.2em;
                position: absolute;
                top:0px;
                left: -25px;
            }
        }
        &:nth-child(3) {
            position: relative;
            &::before {
                font-family: "Material Icons";
                content:"\e324";
                font-size: 1.2em;
                position: absolute;
                top:0px;
                left: -25px;
            }
        }
    }
}
/*Footer*/
footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .footer__social {
        display: flex;
        gap:20px;
        .footer__social-item {
            font-size: 40px;
            color: rgba($color: #0e76a8, $alpha: 0.5);
            cursor: pointer;
            transition-duration: 500ms;
            &:hover {
                color: #0e76a8;
                
            }
        }
    }
}
.desktop {
    display: none;
}