@font-face {
  font-family: "playfair-regular";
  src: url("../fonts/playfair/PlayfairDisplay-Regular.ttf") format("ttf");
  font-display: swap; }
@font-face {
  font-family: "playfair-italic";
  src: url("../fonts/playfair/PlayfairDisplay-Italic.ttf") format("ttf");
  font-display: swap; }
@font-face {
  font-family: "playfair-bold";
  src: url("../fonts/playfair/PlayfairDisplay-Bold.ttf") format("ttf");
  font-display: swap; }
@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff");
  font-display: swap; }
a {
  color: #DAA520; }
  a:hover {
    color: navy; }
  a:active {
    color: green; }

header img {
  filter: grayscale(100); }

figure {
  margin: 0; }

ul {
  list-style: none; }

nav {
  display: flex;
  justify-content: center; }
  nav ul {
    display: flex;
    justify-content: space-around;
    gap: 1em; }
    nav ul li {
      background-color: #DAA520;
      padding: 15px 10px;
      font-family: Roboto-regular; }
      nav ul li:hover {
        background-color: white;
        color: #DAA520; }
        nav ul li:hover a {
          color: #DAA520; }
      nav ul li a {
        text-decoration: none;
        color: white; }

h1, h2 {
  font-family: playfair-bold; }

h1 {
  text-align: center;
  color: #DAA520;
  font-size: 5vw; }

h2 {
  color: #373737; }

/*Section A propos*/
.container {
  display: flex;
  justify-content: space-around; }

section:nth-of-type(odd) {
  background-color: rgba(218, 165, 32, 0.4); }
  section:nth-of-type(odd) h2 {
    text-transform: uppercase;
    padding: 0.2em;
    padding-left: 1em; }

section:nth-of-type(even) {
  background-color: rgba(218, 165, 32, 0.6); }
  section:nth-of-type(even) h2 {
    text-align: right;
    text-transform: uppercase;
    padding: 0.2em;
    padding-right: 1em; }

.apropos__description {
  line-height: 2em; }
  .apropos__description li:nth-child(1) {
    font-size: 1.3em; }
  .apropos__description li:nth-child(2) {
    position: relative; }
    .apropos__description li:nth-child(2)::before {
      font-family: "Material Icons";
      content: "\e0be";
      font-size: 1.2em;
      position: absolute;
      top: 0px;
      left: -25px; }
  .apropos__description li:nth-child(3) {
    position: relative; }
    .apropos__description li:nth-child(3)::before {
      font-family: "Material Icons";
      content: "\e324";
      font-size: 1.2em;
      position: absolute;
      top: 0px;
      left: -25px; }

/*Footer*/
footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  footer .footer__social {
    display: flex;
    gap: 20px; }
    footer .footer__social .footer__social-item {
      font-size: 40px;
      color: rgba(14, 118, 168, 0.5);
      cursor: pointer;
      transition-duration: 500ms; }
      footer .footer__social .footer__social-item:hover {
        color: #0e76a8; }

.desktop {
  display: none; }

@media screen and (min-width: 480px) and (max-width: 779px) {
  .desktop {
    display: block; }

  .mobile {
    display: none; }

  .formation__container {
    display: flex;
    flex-wrap: wrap; }
    .formation__container article {
      width: 45%;
      margin: 5px; } }
@media screen and (min-width: 780px) {
  h1 {
    color: #373737; }

  .formation__container {
    display: flex; }

  .desktop {
    display: block; }

  .mobile {
    display: none; } }

/*# sourceMappingURL=style.css.map */
